---
const year = new Date().getFullYear();
---

<footer class="site-footer">
  <div class="container footer-row">
    <p>Copyright © {year} elio</p>
    <a href="https://github.com/elio-fm/elio" target="_blank" rel="noreferrer">Source on GitHub</a>
  </div>
</footer>
