<footer class="site-footer">
  <div class="container footer-row">
    <p>Elio is an open source terminal file manager from the elio-fm organization.</p>
    <a href="https://github.com/elio-fm/elio" target="_blank" rel="noreferrer">View project on GitHub</a>
  </div>
</footer>
